.message-alert {
    position: fixed;
    max-width: 50%;
    top: 16px;
    right: 20px;
    z-index: 1046;
}

.alert {
    animation: slide-down 0.5s;
}

@keyframes slide-down {
    0% {
        top: -8px;
    }

    100% {
        top: 16px;
    }
}